@model IEnumerable<candidatolimpo.Models.PerfilEleitor>

@{
    ViewBag.Title = "Index";
}

<h2>PERFIL DE ELEITORES POR ZONA</h2>



@using (Html.BeginForm("Index", "PerfilEleitors", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="row">
        <div class="col-md-8">
            Digite a UF: @Html.TextBox("uf")
            Digite a cidade: @Html.TextBox("cidade")
            Digite numero da zona: @Html.TextBox("zona")
            <input type="submit" value="Consultar" class="btn btn-default" />
        </div>
    </div>
}


@Html.ActionLink("Consultar prefeitos", "Index","Prefeitoes")
@Html.ActionLink("Consultar vereadores", "Index", "Vereadors")

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faixa_etaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grau_de_escolaridade)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Qtd_eletores_no_perfil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faixa_etaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grau_de_escolaridade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qtd_eletores_no_perfil)
        </td>

    </tr>
}

</table>
