@model candidatolimpo.Models.ConsultaCandidato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsultaCandidato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data_geracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_geracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_geracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_geracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano_eleicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano_eleicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao_eleicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_eleicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla_uf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla_uf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Siglas_ue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Siglas_ue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao_ue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_ue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao_cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_canditado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_canditado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sequencial_canditado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sequencial_canditado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_candidato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_candidato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf_candidato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf_candidato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_urna_candidato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_urna_candidato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_situacao_candidatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_situacao_candidatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_situacao_candidatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_situacao_candidatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_partido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_partido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla_partido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla_partido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_partido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_partido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_legenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_legenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla_legenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla_legenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Composicao_legenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composicao_legenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_legenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_legenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_ocupacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_ocupacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao_ocupacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_ocupacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_titulo_eleitoral_candidato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_titulo_eleitoral_candidato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade_data_eleicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade_data_eleicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao_sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_grau_instrucao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_grau_instrucao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao_grau_instrucao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_grau_instrucao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_estado_civil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_estado_civil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao_estado_civil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_estado_civil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_cor_raca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_cor_raca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao_cor_raca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_cor_raca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao_nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla_uf_nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla_uf_nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_municipio_nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_municipio_nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_municipio_nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_municipio_nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Despesa_max_campanha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Despesa_max_campanha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_sit_tot_turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_sit_tot_turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc_sit_tot_turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc_sit_tot_turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nm_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nm_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
