@model IEnumerable<candidatolimpo.Models.ConsultaCandidato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data_geracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_geracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano_eleicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_eleicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla_uf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Siglas_ue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_ue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome_canditado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sequencial_canditado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_candidato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf_candidato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome_urna_candidato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_situacao_candidatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Des_situacao_candidatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_partido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla_partido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome_partido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_legenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla_legenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Composicao_legenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome_legenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_ocupacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_ocupacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_titulo_eleitoral_candidato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade_data_eleicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_grau_instrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_grau_instrucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_estado_civil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_estado_civil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_cor_raca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_cor_raca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_nacionalidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_nacionalidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla_uf_nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_municipio_nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome_municipio_nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Despesa_max_campanha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_sit_tot_turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc_sit_tot_turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nm_email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data_geracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_geracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano_eleicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_turno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_eleicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla_uf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Siglas_ue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_ue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_canditado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sequencial_canditado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_candidato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf_candidato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_urna_candidato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_situacao_candidatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Des_situacao_candidatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_partido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla_partido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_partido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_legenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla_legenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Composicao_legenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_legenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_ocupacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_ocupacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_titulo_eleitoral_candidato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idade_data_eleicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_grau_instrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_grau_instrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_estado_civil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_estado_civil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_cor_raca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_cor_raca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_nacionalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_nacionalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla_uf_nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_municipio_nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_municipio_nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Despesa_max_campanha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_sit_tot_turno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc_sit_tot_turno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nm_email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
